/* Preserve whitespace in snippets. */
.story {
  white-space: pre-wrap;
  font-family: monospace;
}

.meter {
  height: 25px;
}

.vote {
  width: 44%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  cursor:pointer;
  vertical-align:middle;
  padding: 5px;
  text-align: center;
}

.vote:active {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.disabled {
  cursor:auto;
  box-shadow:none;
  background:#F6F6F6;
}

.snippet:hover {
  background: gainsboro;
  border-radius: 3px;
}

.snippet:hover .author {
  visibility: visible;
  opacity: 1;
}

.snippet-input {
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.author {
  visibility: hidden;
  position: absolute;
  background: lightsteelblue;
  font-style: italic;
  margin-top: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s, linear;
}

.author-input {
  width: 20%;
  margin-left: 60%;
}

.submit-button {
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 12px;
  padding: 5px;
}

.submit-button:active {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.submission, .input {
  margin-top: 6px;
  margin-bottom: 6px;
}

.story, .main {
  width: 93%;
  margin-left: 3%;
  margin-right: 3%;
}

.center-80 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%
}

.red {
  background: red;
}

.grey {
  background:#F6F6F6;
}
